@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

/******** || GENERAL STYLES ********/

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: "Roboto", sans-serif !important;
  color: #182153;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

::selection {
  background-color: grey;
  color: white;
  -ms-color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/******** || SCROLLBAR ********/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.section_heading {
  /* font-weight-bold pt-5 text-center */
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  font-family: "Yatra One", cursive !important;
  letter-spacing: 1.5px;
}

/******** || BANNER ********/
div#banner-outer {
  background: #182153;
}

div#banner-inner {
  z-index: 1;
  margin: auto;
  background-color: lightgrey;
  text-align: center;
}

div#banner-inner p {
  line-height: 1.9;
}

.myName {
  color: #9c27b0;
}

.banner_btn {
  border-radius: 3px;
  letter-spacing: 1.5px;
  color: lightgray;
  border: 1px solid #182153;
  background-color: #182153;
  padding: 5px 20px;
  font-size: medium;
  font-variant: small-caps;
}

@media screen and (max-width: 400px) {
  .banner_btn {
    padding: 5px 13px;
  }
}

a.banner_btn {
  float: right;
}

a[href="#contact"] {
  float: left;
}

.banner_btn:hover {
  color: lightgray;
  -webkit-box-shadow: -1px 5px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 5px 15px rgba(0, 0, 0, 0.2);
}

/******** || EXPERIENCE & EDUCATION COMMUNITY ********/
.thematic-break {
  border-bottom: 0.5px solid #182153 !important;
  opacity: 0.5;
}
/* 
.thematic-position {
    border-width: 0.3px;
} */

/* || In Experience Portion */
.date-position {
  text-align: center;
  font-size: smaller;
}

/* || In Education, Community */
.duration-position {
  float: right;
}

.tech-logo {
  width: 50%;
  height: 65px;
  display: block;
  margin: 0 0 0 auto;
  border-radius: 5px;
  object-fit: cover;
  transform: scale(1.1);
}

.exp-edu-details {
  margin-top: 20px;
  line-height: 1.3;
  font-size: smaller;
}

@media screen and (max-width: 500px) {
  #my_name_box {
    display: block;
    margin-top: 10px;
  }
}

@media screen and (max-width: 992px) {
  .amstech-logo {
    object-fit: contain;
  }
  .tech-logo {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .duration-position {
    float: none;
    text-align: center;
  }

  .tech-logo {
    width: 65%;
    height: 100px;
    margin: auto;
    object-fit: contain;
  }

  .org-details {
    text-align: center;
  }

  .exp-edu-details {
    line-height: 1.7;
  }
}

a.projectWeb {
  text-decoration: none;
  color: #182153;
}

a.projectWeb:hover {
  opacity: 0.6;
}

/********  || SKILLS ********/
.tech-field {
  background-color: #182153;
  width: 250px;
}

.tech-field p {
  padding: 10px;
}

.tech-field span {
  padding-left: 8px;
  color: white;
  font-size: 0.8rem;
}

.float {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .float {
    margin-right: auto;
  }
  .float-center {
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .tech-field {
    width: 85%;
  }
}

.tech-field img {
  border-radius: 2px;
  height: 27px;
  width: 27px;
}

/******** || CONTACT ME ********/
::placeholder {
  font-size: small;
}

.contact_box {
  display: flex;
  flex-direction: column;
}

form#msgeForm input,
form#msgeForm textarea {
  font-size: small;
}

input,
textarea {
  border-radius: 0 !important;
  padding-top: 8px;
}

form#msgeForm .btn-primary {
  background-color: #182153;
  color: white;
  border-color: #182153;
  transition: 0.5s;
  letter-spacing: 1px;
}

.btn-primary:hover {
  -webkit-box-shadow: -1px 5px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-details {
  line-height: 0.4;
}

a.contact-link {
  text-decoration: none;
}

/******** || TOAST Message ********/
.toast_box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid rebeccapurple;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 576px) {
  .toast_box {
    padding: 10px 10px;
  }
}

.toast_box button {
  margin-left: auto !important;
}

.toast_box .btn-close:focus {
  outline: none;
  box-shadow: none;
}

.btn_close {
  font-weight: bold;
}

.btn_close:hover {
  background: transparent !important;
}

/******** || FOOTER ********/
footer {
  background-color: dimgray;
}

footer p {
  color: gainsboro;
}

a.social-link {
  margin-right: 10px;
  text-decoration: none;
}

.social-icon {
  width: 18px;
  height: 18px;
}

.social-icon:hover {
  opacity: 0.5;
}

/******** || PROJECTS PAGE ********/
.active {
  font-weight: bold;
}

.project-column {
  padding: 0 5%;
}

.source-btn {
  border-radius: 2px;
  float: right;
  margin-right: 5%;
}

span.projects-head {
  vertical-align: -7px;
}

ul.projects li {
  padding-top: 25px;
  margin-top: 20px;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 0.9em;
  color: rgba(24, 33, 83, 0.8);
  line-height: 1.7;
}

.how-it-looks-btn {
  margin-top: 8px;
  font-weight: bold;
  padding-top: 6px !important;
  letter-spacing: 0.8px;
  font-size: x-small;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 5px lightgrey;
  box-shadow: 0px 3px 5px lightgrey;
}

.tech-used {
  margin-top: 40px;
  font-size: smaller;
  line-height: 0.5;
}

.tech-used p:first-child {
  font-size: small;
}
