/* || Page Preloader on PAGES */
.loading {
  width: 100vw;
  height: 100vh;
  /*url('')*/
  /**/
  background: white url("https://profile.lps.org/images/loading-icon-2.gif")
    center no-repeat;
  position: fixed;
  z-index: 99999;
  background-size: 20%;
}

/* || Page Progress Bar on Pages */
.progress_box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10 !important;
  width: 100vw;
  background: rgb(216, 216, 216);
}

.progress_bar {
  width: 5%;
  height: 3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--color-universal) !important;
  -webkit-transition: width 100ms ease-in-out;
  -moz-transition: width 100ms ease-in-out;
  transition: width 100ms ease-in-out;
}
