@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

/****** || NAVBAR ******/
.navbar {
  padding: 0;
  border-bottom: none !important;
  -webkit-box-shadow: -1px 5px 15px var(--color-navbar-shadow);
  -moz-box-shadow: -1px 5px 15px var(--color-navbar-shadow);
  box-shadow: -1px 5px 15px var(--color-navbar-shadow);
}

a.navbar-brand {
  display: flex;
  align-items: center;
}

a.navbar-brand span {
  font-size: 1.7rem;
  border: none;
  color: var(--color-text);
  font-family: "Berkshire Swash", cursive !important;
  letter-spacing: 1.5px;
  padding-left: 10px;
}

a.navbar-brand img {
  width: 55px;
  height: auto;
  border-radius: 3px;
}

a.navbar-brand:hover {
  color: var(--color-text);
}

@media screen and (max-width: 768px) {
  a.navbar-brand img {
    display: none;
  }
}

/** Toggle Menu Bar Icons */
.navbar-toggler-icon {
  display: flex;
  align-items: center;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.menu-icon,
.menu-close-icon {
  color: var(--color-text);
  width: 25px;
  /* transform: scale(1.2); */
}

.menu-close-icon {
  display: none;
  transform: scale(0.8);
}

.nav-link {
  font-size: 1rem;
  padding: 22px 10px !important;
  color: var(--color-text);
  transition: 0.3s;
  letter-spacing: 1px;
}

.nav-link:hover {
  background-color: var(--color-text);
  color: var(--color-navlink-active);
}

.project_active {
  background-color: var(--color-bg);
}

.project_active .nav-link {
  letter-spacing: 1.5px;
  color: var(--color-navlink-active) !important;
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 15px 10px;
  }

  .nav-item {
    text-align: center !important;
  }

  .nav-link {
    padding: 15px 0;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    padding: 10px 8px;
  }
}

/******** || Profile Pic Modal ********/
div#profilePic {
  background: rgba(0, 0, 0, 0.4) !important;
}

#profilePic .modal-header {
  border-bottom: 1px solid rebeccapurple !important;
}

#profilePic .modal-title {
  font-family: "Roboto", sans-serif !important;
  color: var(--color-navlink-active);
  font-variant: small-caps;
  letter-spacing: 1.5px;
}

#profilePic .modal-content {
  background: rgba(0, 0, 0, 0.4);
}

#profilePic button.close {
  outline: none;
}

#profilePic .profile_pic {
  width: 100%;
  height: auto;
}
