@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

/****** || NAVBAR ******/
.navbar {
  padding: 0;
  margin-top: 6px !important;
  border-bottom: none !important;
  -webkit-box-shadow: -1px 5px 15px var(--color-navbar-shadow);
  -moz-box-shadow: -1px 5px 15px var(--color-navbar-shadow);
  box-shadow: -1px 5px 15px var(--color-navbar-shadow);
}

a.navbar-brand {
  display: flex;
  align-items: center;
}

a.navbar-brand span,
.offcanvas .offcanvas-title {
  font-size: 1.7rem;
  border: none;
  color: var(--color-text);
  font-family: "Berkshire Swash", cursive !important;
  letter-spacing: 1.5px;
  padding-left: 10px;
}

a.navbar-brand img {
  width: 55px;
  height: auto;
  border-radius: 3px;
}

a.navbar-brand:hover {
  color: var(--color-text);
}

@media screen and (max-width: 768px) {
  a.navbar-brand img {
    display: none;
  }
}

/** Toggle Menu Bar Icons */
.navbar-toggler-icon {
  display: flex;
  align-items: center;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.menu-icon,
.menu-close-icon {
  color: var(--color-text);
  width: 25px;
  /* transform: scale(1.2); */
}

.menu-close-icon {
  display: none;
  transform: scale(0.8);
}

.nav-link,
.offcanvas .nav-link {
  font-size: 1rem;
  padding: 22px 10px !important;
  color: var(--color-text);
  transition: 0.3s;
  letter-spacing: 1px;
}

.nav-link:hover {
  background-color: var(--color-text);
  color: var(--color-navlink-active);
}

.project_active {
  background-color: var(--color-bg);
}

.project_active .nav-link {
  letter-spacing: 1.5px;
  color: var(--color-navlink-active) !important;
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 15px 10px;
  }

  .nav-item {
    text-align: center !important;
  }

  .nav-link {
    padding: 15px 0;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    padding: 10px 8px;
  }
}

/******** || Profile Pic Modal & (Specific Project Showcasing) ********/
div.custom_modal {
  background: rgba(0, 0, 0, 0.4) !important;
}

.custom_modal .modal-header {
  border-bottom: none;
}

.custom_modal .modal-body {
  padding: 1px;
}

.custom_modal .modal-title {
  font-family: "Roboto", sans-serif !important;
  color: var(--color-navlink-active);
  font-weight: 500;
  font-variant: small-caps;
  letter-spacing: 2.5px;
  -webkit-text-shadow: 0.5px 0.5px 2px rebeccapurple;
  -moz-text-shadow: 0.5px 0.5px 2px rebeccapurple;
  text-shadow: 0.5px 0.5px 2px rebeccapurple;
}

.custom_modal .modal-content {
  background: rgba(0, 0, 0, 0.4);
}

.custom_modal .btn-close {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
  padding-top: 0;
  outline: none;
}

.custom_modal .btn-close:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.custom_modal .btn-close span {
  -webkit-transform: translateY(-10px) scale(1.5) !important;
  -moz-transform: translateY(-10px) scale(1.5) !important;
  transform: translateY(-10px) scale(1.5) !important;
}

.custom_modal .profile_pic {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

/* *** Mobile SideBar Menu */
.offcanvas {
  text-align: center;
  height: 100vh;
}

@media screen and (max-width: 575px) {
  .offcanvas {
    width: 100%;
  }
}

.offcanvas .btn-close {
  -webkit-transform: translateX(-10px) translateY(11px);
  -ms-transform: translateX(-10px) translateY(11px);
  -moz-transform: translateX(-10px) translateY(11px);
  transform: translateX(-10px) translateY(11px);
}

.offcanvas img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 50%;
}

.offcanvas .active {
  background-color: var(--color-bg);
  color: white !important;
}

.offcanvas ul {
  margin-top: 15px !important;
}

.offcanvas .owner_name,
.offcanvas .owner_designation {
  color: var(--color-text);
  font-family: 'Cormorant Garamond', serif;
  font-weight: bolder;
  letter-spacing: 1px;
}

.offcanvas .owner_name {
  margin-top: 15px;
}

.offcanvas .nav-link {
  padding: 10px 10px !important;
}

.offcanvas .owner_designation {
  font-style: italic;
}

.mobile_view_menu {
  list-style-type: none;
}

.offcanvas-body a {
  color: dimgrey;
}