/******** || PROJECTS PAGE ********/
.active {
  font-weight: bold;
}

.project-column {
  padding: 0 5%;
}

.source-btn {
  border-radius: 2px;
  float: right;
  letter-spacing: 1px;
  margin-right: 5%;
  background-color: #182153;
  color: rgba(255, 255, 255, 0.87);
}

.source-btn:hover {
  color: rgba(255, 255, 255, 0.87);
  -webkit-box-shadow: var(--color-banner-btn-shadow);
  -moz-box-shadow: var(--color-banner-btn-shadow);
  box-shadow: var(--color-banner-btn-shadow);
}

span.projects-head {
  vertical-align: -7px;
  font-weight: bold !important;
}

ul.projects li {
  padding-top: 20px;
  margin-top: 20px;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 0.85em;
  color: var(--color-project-list-text);
  line-height: 1.7;
  text-align: justify;
}

.how-it-looks-btn {
  margin-top: 8px;
  font-weight: bold;
  padding-top: 6px !important;
  letter-spacing: 1.5px;
  font-size: x-small;
  border-radius: 2px;
  background-color: #182153;
  color: rgba(255, 255, 255, 0.87);
}

.how-it-looks-btn:hover {
  color: rgba(255, 255, 255, 0.87);
  -webkit-box-shadow: var(--color-how-it-looks-btn-shadow);
  -moz-box-shadow: var(--color-how-it-looks-btn-shadow);
  box-shadow: var(--color-how-it-looks-btn-shadow);
}

.tech-used {
  margin-top: 40px;
  font-size: smaller;
  line-height: 0.5;
}

.tech-used p:first-child {
  font-size: small;
}

.tech-used p:last-child {
  line-height: 1.8;
}

@media screen and (max-width: 576px) {
  ul.projects li {
    font-size: 0.95em;
  }

  #res_web_box {
    display: none;
  }
}