@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

/******** || GENERAL STYLES ********/

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: "Roboto", sans-serif !important;
  color: var(--color-universal);
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-select-bg);
  color: var(--color-select);
  -ms-color: var(--color-select);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-body-bg);
}

.section-bg {
  background-color: var(--color-section-bg);
}

/******** || SCROLLBAR ********/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}

.section_heading {
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  font-family: "Yatra One", cursive !important;
  letter-spacing: 1.5px;
}

/******** || BANNER ********/
div.banner-outer {
  background: var(--color-bg);
}

div.banner-inner {
  z-index: 1;
  margin: auto;
  background-color: var(--color-bg-shade);
  text-align: center;
}

div.banner-inner p {
  line-height: 1.9;
}

#my_name_box span {
  font-weight: 600 !important;
  color: var(--color-myname);
}

div.banner-inner .padding-0 {
  padding-left: 4px;
  padding-right: 4px;
}

.banner_btn {
  border-radius: 3px;
  letter-spacing: 1.5px;
  color: lightgray;
  background-color: var(--color-bg);
  padding: 5px 20px;
  font-size: medium;
  font-variant: small-caps;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

a.banner_btn {
  float: right;
}

a[href="#contact"] {
  float: left;
}

.banner_btn:hover {
  -webkit-transform: translateY(-3px) scale(1.02);
  -moz-transform: translateY(-3px) scale(1.02);
  transform: translateY(-3px) scale(1.02);
  color: var(--color-banner-btn-text);
  -webkit-box-shadow: var(--color-banner-btn-shadow);
  -moz-box-shadow: var(--color-banner-btn-shadow);
  box-shadow: var(--color-banner-btn-shadow);
}

@media screen and (max-width: 576px) {
  #my_name_box {
    height: 35px;
  }
}

@media screen and (max-width: 400px) {
  .banner_btn {
    padding: 5px 10px;
  }

  a.banner_btn {
    float: left;
  }

  a[href="#contact"] {
    float: right;
  }
}

/******** || EXPERIENCE & EDUCATION COMMUNITY ********/
.thematic-break {
  opacity: 0.5 !important;
}
/* 
.thematic-position {
    border-width: 0.3px;
} */

/* || In Experience Portion */
.date-position {
  text-align: center;
  font-size: smaller;
}

/* || In Education, Community */
.duration-position {
  float: right;
}

.tech-logo {
  width: 50%;
  height: 65px;
  display: block;
  margin: 0 0 0 auto;
  border-radius: 5px;
  object-fit: cover;
  transform: scale(1.1);
}

.exp-edu-details {
  margin-top: 20px;
  line-height: 1.3;
  font-size: smaller;
}

@media screen and (max-width: 500px) {
  #my_name_box {
    display: block;
    margin-top: 10px;
  }
}

@media screen and (max-width: 992px) {
  .amstech-logo {
    object-fit: contain;
  }
  .tech-logo {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .duration-position {
    float: none;
    text-align: center;
  }

  .tech-logo {
    width: 65%;
    height: 100px;
    margin: auto;
    object-fit: contain;
  }

  .org-details {
    text-align: center;
  }

  .exp-edu-details {
    line-height: 1.7;
  }
}

a.projectWeb {
  text-decoration: none;
  color: var(--color-text);
}

a.projectWeb:hover {
  opacity: 0.6;
}

/********  || SKILLS ********/
.tech-field {
  background-color: var(--color-bg);
  border-radius: 4px;
  width: 250px;
}

.tech-field p {
  padding: 10px;
}

.tech-field span {
  padding-left: 8px;
  color: white;
  font-size: 0.8rem;
}

.tech-field:hover {
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.76);
  -ms-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.76);
}

.float {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .float {
    margin-right: auto;
  }
  .float-center {
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .tech-field {
    width: 95%;
  }

  .tech-field p {
    padding-left: 20px;
  }

  #skills + div .padding-0 {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
}

@media screen and (max-width: 400px) {
  .tech-field p {
    padding-left: 15px;
  }
}

.tech-field img {
  border-radius: 2px;
  height: auto;
  width: 27px;
}

/******** || CONTACT ME ********/
::placeholder {
  font-size: smaller;
}

.contact_box {
  display: flex;
  flex-direction: column;
}

form#msgeForm input,
form#msgeForm textarea {
  font-size: smaller;
}

input,
textarea {
  border-radius: 3px !important;
  padding-top: 8px;
}

form#msgeForm .contact_submit_btn,
form#msgeForm .contact_reset_btn {
  background-color: var(--color-bg);
  color: white;
  width: 100%;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 3px !important;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

form#msgeForm .contact_reset_btn {
  border: 1px solid var(--color-text);
  color: var(--color-text);
  background-color: transparent;
}

form#msgeForm .contact_submit_btn:hover,
form#msgeForm .contact_reset_btn:hover {
  -webkit-transform: translateY(-3px) scale(1.02);
  -moz-transform: translateY(-3px) scale(1.02);
  transform: translateY(-3px) scale(1.02);
  -webkit-box-shadow: var(--color-banner-btn-shadow);
  -moz-box-shadow: var(--color-banner-btn-shadow);
  box-shadow: var(--color-banner-btn-shadow);
}

form#msgeForm .contact_reset_btn:hover {
  background-color: var(--color-bg);
  color: white;
}

.contact-details {
  line-height: 0.4;
}

.contact-details h5 {
  font-weight: 600 !important;
}

a.contact-link {
  text-decoration: none;
}

@media screen and (max-width: 575px) {
  ::placeholder {
    font-size: medium;
  }

  form#msgeForm input,
  form#msgeForm textarea {
    font-size: medium;
  }

  form#msgeForm .contact_submit_btn,
  form#msgeForm .contact_reset_btn {
    font-size: smaller;
    padding-top: 7px !important;
  }
}

/******** || TOAST Message ********/
.toast_box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  height: 50px;
  background-color: #d4edda;
  padding-top: 10px;
  text-align: center;
  border: 1px solid var(--color-toast-border);
  -webkit-box-shadow: var(--color-toast-bg);
  -ms-box-shadow: var(--color-toast-bg);
  box-shadow: var(--color-toast-bg);
}

@media screen and (max-width: 576px) {
  .toast_box {
    padding: 10px 10px;
  }
}

.toast_box button {
  margin-left: auto !important;
}

.toast_box .btn-close:focus {
  outline: none;
  box-shadow: none;
}

.btn_close {
  font-weight: bold;
}

.btn_close:hover {
  background: transparent !important;
}

/******** || FOOTER ********/
footer {
  background-color: var(--color-footer-bg);
}

footer p,
footer #owner,
footer #copyright_year {
  color: var(--color-footer-text);
}

a.social-link {
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
}

a.social-link, .social-icon {
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}

.social-icon {
  width: 19px;
  height: 19px;
}

img[alt="HackerRank"] {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

a.social-link:hover .social-icon {
  -webkit-transform: scale(1.3) rotate(360deg);
  -moz-transform: scale(1.3) rotate(360deg);
  -ms-transform: scale(1.3) rotate(360deg);
  transform: scale(1.3) rotate(360deg);
}

a.social-link:hover img[alt="HackerRank"] {
  -webkit-transform: scale(1.6) rotate(360deg);
  -moz-transform: scale(1.6) rotate(360deg);
  -ms-transform: scale(1.6) rotate(360deg);
  transform: scale(1.6) rotate(360deg);
}

footer #owner {
  font-weight: 500;
  font-family: "Courgette", cursive !important;
}